/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Loop Things */
.container .first-heading {
  text-align: center;
}
.container .first-heading h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
  text-transform: uppercase;
}
.container .first-heading h2::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 105px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: -26px;
}
.container .first-heading h2::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  background: white;
  z-index: 1;
}

.container .first-heading p {
  width: 500px;
  max-width: 100%;
  margin: 0 auto 80px;
  line-height: 2;
  color: #777;
}
/* End Loop Things */
/* Strat Variables */
:root {
  --mainColor: #19c8fa;
  --transpColor: rgb(15 116 143 / 70%);
  --padding-section: 100px;
}
/* End Variables */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 98.4px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: black;
  bottom: 0;
  left: 15px;
}
header .logo img {
  height: 30px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle {
    display: none;
    transition: 0.3s;
  }
}
header nav ul {
  display: flex;
  align-items: center;
}
@media (width <= 768px) {
  header nav ul {
    display: none;
  }
  header nav .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 80%);
    opacity: 0.8;
    width: 100%;
  }
  header nav ul li a {
    padding-bottom: 10px !important;
  }
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 40px 15px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
header nav ul li a.avtive,
header nav ul li a:hover {
  color: var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
}
header .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 20px;
  border-left: 1px solid white;
}
header .form i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
}
/* Start Landing */
.landing {
  background-image: url("../imges/owl-Landing.jpg");
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  background-color: rgb(0 0 0 / 50%);
}
.landing .text-box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  color: white;
  background: var(--transpColor);
  display: flex;
  justify-content: flex-end;
}

.landing .text-box .content {
  max-width: 500px;
}
@media (max-width: 320px) {
  .landing .text-box {
    overflow: scroll;
    top: 50%;
    transform: translateY(-50%) scale(0.6);
    height: 430px;
  }
  .landing .text-box .content h2 {
    font-weight: bold;
  }
  .landing .text-box .content p {
    line-height: 1.8;
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: 600;
    color: #cecece;
  }
}
@media (max-width: 798px) {
  .landing .text-box {
    width: 100%;
  }
  .landing .text-box .content {
    max-width: 100%;
  }
}
.landing .text-box .content h2 {
  font-size: 33px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 15px;
}
.landing .text-box .content p {
  line-height: 1.8;
  font-size: 14px;
}
.landing i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
}
.landing .arrow-left {
  left: 15px;
}
.landing .arrow-right {
  right: 15px;
}
.landing .cec {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.landing .cec li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid #ffffff5e;
  background-color: transparent;
}
.landing .cec .active-2 {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
/* End Landing */
/* Start SERVICES */
.services {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.services .content-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 60px 40px;
}
.services .content-services .bx {
  display: flex;
}
/* .services .content-services .bx .text-box {} */
.services .content-services .bx i {
  font-size: 48px;
  padding-right: 50px;
}
.services .content-services .bx .text-box h3 {
  color: var(--mainColor);
  font-size: 19px;
  margin-bottom: 30px;
}
.services .content-services .bx .text-box p {
  line-height: 2;
  color: #777;
}
@media (max-width: 768px) {
  .services .content-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px 40px;
  }
  .services .content-services .bx {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .services .content-services .bx i {
    padding: 0 0 50px;
  }
  .services .content-services .bx .text-box p {
    width: 250px;
    margin: 0 auto;
  }
}
/* End SERVICES */
/* ============ */
/* Start Design */
.design-services {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-image: url("../imges/design-features.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}
.design-services::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}
.design-services .imge,
.design-services .text-ds {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design-services .imge {
  text-align: center;
}
.design-services .imge img {
  position: relative;
  bottom: -15px;
}
.design-services .text-ds {
  background-color: var(--transpColor);
  color: white;
  padding: 50px;
  line-height: 2.5;
}
.design-services .text-ds h2 {
  text-transform: uppercase;
  font-weight: normal;
}
.design-services .text-ds ul {
  margin-left: 15px;
}
.design-services .text-ds ul li {
  position: relative;
}
.design-services .text-ds ul li::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\e163";
  font-weight: 900;
  position: relative;
  left: -15px;
}
@media (max-width: 767px) {
  .design-services .imge {
    display: none;
  }
}
/* End Design */
/* Start Portfoile */
.portfoilo {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.portfoilo .container .exbox {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.portfoilo .container .exbox li {
  margin: 0px 1px;
  padding: 5px;
  width: 70px;
  height: 35px;
  border: 1px solid #77777730;
  border-top-left-radius: 40%;
  background-color: #eee;
  text-transform: capitalize;
  transition: 0.6s;
}
.portfoilo .container .exbox li:hover {
  background-color: var(--mainColor);
  transform: scale(1.2);
  z-index: 5;
}
.portfoilo .container .exbox :first-child {
  background-color: var(--mainColor);
}
.shuf-imge {
  display: flex;
  flex-wrap: wrap;
}
.shuf-imge .imge-box {
  flex-basis: 100%;
  overflow: hidden;
  position: relative;
}
@media (width > 768px) {
  .shuf-imge .imge-box {
    flex-basis: 50%;
  }
}
@media (width > 1199px) {
  .shuf-imge .imge-box {
    flex-basis: 25%;
  }
}
.shuf-imge .imge-box img {
  max-width: 100%;
  transition: 0.5s;
}
.shuf-imge .imge-box:hover img {
  transform: rotate(5deg) scale(1.2);
}
.shuf-imge .imge-box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  transition: 0.4s;
  background-color: white;
  width: 100%;
  bottom: -100%;
}
.shuf-imge .imge-box:hover .caption {
  bottom: 0;
}
.shuf-imge .imge-box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.shuf-imge .imge-box .caption p {
  color: var(--mainColor);
}
.portfoilo button {
  margin: 50px auto;
  width: 100px;
  padding: 20px 0;
  background-color: var(--mainColor);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid #77777730;
  border-top-left-radius: 40%;
  text-transform: capitalize;
  transition: 0.3s;
}
.portfoilo button a {
  text-decoration: none;
  color: white;
}
.portfoilo button:hover {
  background-color: #19c8faad;
  transform: scale(1.2);
}
/* End Portfoile */
/* Start  VIdeo design */
.video-box {
  position: relative;
}
.video-box .overlay {
  position: absolute;
  width: 100%;
  height: 99.3%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}
.video-box .video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  background-color: var(--transpColor);
  padding: 30px;
  line-height: 2.5;
  color: white;
}
@media (max-width: 768px) {
  .video-box .video-text {
    background-color: transparent;
    font-size: 12px;
  }
}
.video-box .video-text h2 {
  font-weight: normal;
}
.video-box .video-text p {
  font-size: 14px;
}
.video-box .video-text button {
  border: none;
  padding: 8px 10px;
  color: white;
  background-color: black;
  border-radius: 15px;
  cursor: grabbing;
}
/* End  VIdeo design */
/* Start About us */
.about-us {
  padding-top: var(--padding-section);
  overflow: hidden;
  text-align: center;
}
.about-us img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}
@media (max-width: 768px) {
  .about-us img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End About us */
/* <!-- Start Stats --> */
.stats {
  background-image: url("../imges/stats.png");
  background-size: cover;
  padding: 100px 0px;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 50%);
}
.stats .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--transpColor);
  padding: 0px;
  position: relative;
  z-index: 5;
}
.stats .container .stats-box {
  flex-basis: 25%;
  padding: 50px 0px;
  line-height: 2.5;
  color: white;
  transition: 0.6s;
  transform-origin: bottom;
}
@media (max-width: 992px) {
  .stats .container .stats-box {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .stats .container .stats-box {
    flex-basis: 100%;
  }
}
.stats .container .stats-box:hover {
  background-color: black;
}
.container .stats-box i {
  font-size: 30px;
  background-color: black;
  border: 10px solid black;
  border-radius: 50%;
  padding: 5px;
}
.container .stats-box .number {
  font-weight: 800;
  font-size: 35px;
}
.container .stats-box p {
  font-size: 12px;
}
/* <!-- End Stats --> */
/* Start Our Skills */
.our-skills {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.our-skills .container {
  display: flex;
}
.our-skills .container .team-detalis {
  text-align: center;
  line-height: 2.5;
  flex-basis: 45%;
  margin: 0px auto;
  position: relative;
}
.our-skills .container .team-detalis h2 {
  font-weight: normal;
}
.our-skills .container .team-detalis > p {
  color: #777;
  font-size: 14px;
}
.our-skills .container .team-detalis ul {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%) scale(0.7);
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.our-skills .container .team-detalis ul li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #777;
}
.our-skills .container .team-detalis ul li.active {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

.container .team-detalis .content {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.container .team-detalis .content p {
  flex-basis: 75%;
  text-align: start;
  font-size: 13px;
  line-height: 1.6;
  border-bottom: 1px solid #777;
  height: 105px;
  position: relative;
}
.container .team-detalis .content p span {
  position: absolute;
  bottom: 10px;
  right: 0px;
  color: #777;
}
.container .team-detalis .content .avtar {
  flex-basis: 15%;
}
.team-detalis .content .avtar img {
  max-width: 100%;
  border-radius: 50%;
}
.container .skill-team {
  text-align: center;
  line-height: 2.5;
  flex-basis: 45%;
}
.container .skill-team h2 {
  font-weight: normal;
}
.container .skill-team p {
  font-size: 14px;
  color: #777;
}
.container .sk {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 61%;
}
.container .sk .bskill {
  flex-basis: 100%;
}
.container .sk h4 {
  text-align: start;
  font-weight: normal;
  font-size: 19px;
}
.skill-team .sk .bskill .range {
  background-color: #ccc;
  height: 30px;
}
.skill-team .sk .bskill .range span {
  display: block;
  background-color: var(--mainColor);
  height: 100%;
  position: relative;
}
.skill-team .sk .bskill .range span::after {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -20px;
  width: 45px;
  font-size: 12px;
  border-radius: 20px;
}
.skill-team .sk .bskill .range span::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  top: -10px;
  right: -7px;
}

@media (max-width: 768px) {
  .our-skills .container .team-detalis {
    flex-basis: 70%;
    margin-bottom: 100px;
  }
  .container .skill-team {
    flex-basis: 70%;
  }
}
.our-skills .container {
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}
/* End Skill Team */
/* Start Quote */
.quote {
  background-image: url(../imges/quote.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.quote::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 80%);
}
.quote .text-quote {
  position: relative;
  z-index: 1;
  font-size: 30px;
}
.quote .text-quote p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.pricing .container {
  text-align: center;
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  background-color: white;
  padding: 20px;
}
.pricing .plans .plan {
  text-align: center;
  margin-bottom: 35px;
  background-color: #fcfcfc;
  padding-bottom: 30px;
  transition: 0.7s;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-bottom: 1px solid var(--mainColor);
  border-top: 1px solid var(--mainColor);
}
.pricing .plans .plan .head h4 {
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 65px;
  font-weight: 800;
  margin-left: 25px;
}
.pricing .plans .plan .head sup {
  font-weight: normal;
  font-size: 50px;
}
.pricing .plans .plan .head sub {
  font-weight: normal;
  font-size: 20px;
}
.pricing .plans .plan ul {
  padding: 40px;
  border-bottom: 1px solid var(--mainColor);
  border-top: 1px solid var(--mainColor);
}
.pricing .plans .plan ul li {
  padding: 15px 0px;
  width: 175px;
  margin: 0px auto;
  border-bottom: 1px solid var(--mainColor);
}
.pricing .plans .plan .foot {
  margin-top: 50px;
}
.pricing .plans .plan .foot button {
  padding: 25px;
  border: 1px solid var(--mainColor);
  color: #006064;
  font-weight: bold;
  transition: 0.5s;
}
.pricing .plans .plan .foot button:hover {
  box-shadow: -10px 10px 5px 5px black;
  transform: translate(10px, -10px);
  border-radius: 10px;
}
.pricing .container > p {
  font-size: 25px;
  margin-bottom: 40px;
}
.pricing .container > a {
  text-decoration: none;
  background-color: var(--mainColor);
  padding: 15px 25px;
  color: white;
}
/* End Pricing */
/* Start subscribe secion */
.subscribe {
  background-image: url("../imges/subscribe.jpg");
  background-size: cover;
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  color: white;
  position: relative;
}
.subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
  border: none;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  font-size: 25px;
  color: #ffffffcc;
}
.subscribe form input:first-of-type {
  padding: 20px 40px;
  padding-left: 60px;
  background: none;
  caret-color: var(--mainColor);
  width: calc(100% - 130px);
  color: #fff;
  border: 1px solid white;
  border-right: none;
}
.subscribe form input:last-of-type {
  width: 130px;
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  border-left: none;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}
.subscribe form input:first-of-type:focus,
.subscribe form input:last-of-type:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 30px;
}
@media (max-width: 990px) {
  .subscribe p {
    margin: 30px;
  }
}
/* End subscribe secion */
/* Start Contact us */
.contact-with {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.contact-with .container .things {
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .contact-with .container .things {
    flex-direction: column;
    align-items: center;
  }
}
.contact-with .container .things form {
  display: grid;
  gap: 20px;
  width: 400px;
  max-width: 100%;
  margin: 30px;
  margin-top: 0px;
  position: relative;
}
.contact-with .container .things form input,
.contact-with .container .things form textarea {
  padding: 20px;
}
.contact-with .container .things form input:last-of-type {
  display: block;
  background-color: var(--mainColor);
  color: white;
  width: 200px;
  border: none;
  position: relative;
  bottom: 0;
  right: -50%;
  transform: translateX(-50%);
}
.contact-with .container .things .info {
  text-align: center;
}
.contact-with .container .things .info h4 {
  font-weight: normal;
}
.contact-with .container .things .info pre,
.contact-with .container .things .info p {
  color: #777;
  margin-top: 5px;
  line-height: 1.5;
}
/* End Contact us */
/* Start end footer */
footer {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-image: url("../imges/subscribe.jpg");
  background-size: cover;
  position: relative;
}
footer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 65%);
}
footer .container {
  position: relative;
  z-index: 2;
  text-align: center;
}
footer .container .end {
}
footer .container .end img {
  height: 50px;
  margin-bottom: 50px;
}
footer .container .end h3 {
  color: white;
  padding-bottom: 35px;
  font-size: 25px;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 0px auto;
  font-weight: normal;
  text-transform: uppercase;
}
footer .container .end .social {
  color: white;
  font-size: 25px;
  margin: 0px auto;
  margin-top: 20px;
}
footer .container .end .social i {
  margin-right: 10px;
}
footer .container .end p {
  margin-top: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
footer .container .end p span {
  color: var(--mainColor);
  text-transform: uppercase;
}
/* End end footer */
